@import "../../vars.css";

.container {
    color: var(--color-text);
    padding-left: 10%;
    padding-right: 10%;
    background-color: #DEB472;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-top: 30px;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 80px;
    color: #383537;
}

.projects {
    margin-top: 37px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    width: 100%;
    justify-items: start;
  }

.waveTopWrapper {
    line-height: 0;
    font-size: 0;
    position: relative;
    z-index: 1;
    margin-bottom: -4px;
    transform: translateY(-2px);
  }