@import "../../vars.css";

.container {
    flex-direction: column;
    display: flex;
    background-color: #E7E7E7; /* tło kart */
    padding: 18px 24px;
    max-width: 345px;
    border: 3px solid #383537; /* ciemna ramka */
}

.image {
    margin-bottom: 26px;
}

.title {
    font-size: 25px;
    font-weight: 700;
    color: #383537
}

.description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
    color: #383537;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 20px;
    font-weight: 400;
    border-radius: 0;
    background: #383537;
    color: #E7E7E7;
    padding: 2px 22px;
}

.links {
    display: flex;
    margin-top: 26px;
    flex-direction: row;
    justify-content: space-between; /* lub space-evenly */
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 20px; /* lub mniej, jeśli za duże */
    flex-wrap: wrap; /* dla responsywności */
  }

  .link {
    text-decoration: none;
    color: #131A25; /* ciemny tekst */
    font-size: 28px;
    font-weight: 600;
    border: 2px solid #131A25; /* ciemna obwódka */
    background: transparent; /* przezroczyste tło */
    padding: 1px 22px;
    border-radius: 0; /* zostawiasz jeśli nie chcesz zaokrągleń */
  }
  
