@import "../../vars.css";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E7E7E7;
    padding: 18px 24px;
    width: 400px;
    height: 850px;
    border: 3px solid #383537;
    box-sizing: border-box;
}

.image {
    margin-bottom: 26px;
}

.title {
    font-size: 25px;
    font-weight: 700;
    color: #383537
}

.description {
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
    color: #383537;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 20px;
    font-weight: 400;
    border-radius: 0;
    background: #383537;
    color: #E7E7E7;
    padding: 2px 22px;
}

.links {
    display: flex;
    margin-top: 26px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
  }

  .link {
    text-decoration: none;
    color: #131A25;
    font-size: 28px;
    font-weight: 600;
    border: 2px solid #131A25;
    background: transparent;
    padding: 1px 22px;
    border-radius: 0;
  }
  
