@import "../../vars.css";

.container {
    position: relative;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 0%;
    z-index: 1;
    background-color: #383537;
    width: 100%;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: row;
    color: var(--color-text);
    z-index: 1;
    flex: 1 1 auto;
}

.pointContent {
    margin-left: 50px;
    margin-right: 70px;
}

.pointsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
    max-width: 100%;
    box-sizing: border-box;
    color: var(--color-text);
    z-index: 1;
    padding-right: 5%;
  }

.point {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text);
    z-index: 1;
    transition: 0.4s;
}

.cursorImg {
    width: 60px;
    transition: transform;
  }
  
.point:hover .cursorImg {
    filter: invert(19%) sepia(30%) saturate(504%) hue-rotate(350deg) brightness(98%) contrast(91%);
    transform: scale(1.1);
}


.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 80px;
    margin-top: -20px;
}

.title2 {
    padding-bottom: 10px;
}

.description {
    font-size: 20px;
    font-family: var(--font-roboto);
    margin-bottom: 20px;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@media screen and (max-width: 830px){
    .container {
        flex-direction: column;
    }

    .fullMeImg {
        display: none;
    }

    .content {
        align-items: center;
    }

    .pointContent {
        align-items: flex-start;
        text-align: left;
        margin-left: 30px;
        padding: 20px;
    }

    .pointsGrid {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 20px;
    }
}

.wave {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
    height: auto;
  }

  