@import "../../vars.css";

.container {
  color: #383537;
  background-color: #E7E7E7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 50px 10% 70px 10%;
}

.text h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #383537; /* ciemny tekst */
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #383537;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.wave {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
  height: auto;
}

.waveTopWrapper {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 0;
  position: relative;
  z-index: 1;
  margin-bottom: -2px;
  margin-top: -2px;
}

.link a {
  color: #383537;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
    align-items: center; /* Centrowanie całej zawartości */
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Tekst wyrównany do lewej */
    text-align: left;
  }

  .links {
    align-items: flex-start; /* Linki również wyrównane do lewej */
    text-align: left;
  }

  h1,
  .subtitle {
    display: none;
  }
}
