@import "../../vars.css";

.navbar{
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 61px;
z-index: 2;
margin: 0 10%;
}

.title{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text)
}

.menu {
    display: flex;
}

.menuBtn {
    display: none;
    cursor: pointer;
  }

.menuItems {
    display: flex;
    gap: 47px;
    list-style:none;
}

.menuItems a {
font-size: 25px;
color: var(--color-text);
text-decoration: none;
}

@media screen and (max-width:830px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position:absolute;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        background-color: rgba(231, 231, 231, 0.7);
        padding: 20px 30px;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    }

    .menuItems a {
        color: #383537;
        font-size: 25px;
        text-decoration: none;
    }

    .menuItems li {
        border-bottom: 1px solid rgba(56, 53, 55, 0.4); /* cienka linia */
        padding-bottom: 7px;
        width: 100%;
        text-align: center;
      }

      .menuItems li:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      
    .menuOpen {
        display: flex;
        z-index: 1;
    } 
}