name: CI Demo

on:
  push:
    branches: [main]

jobs:
  lint-test-build-e2e:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Run JEST unit tests with coverage
        run: npm run test:coverage

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: jest-coverage
          path: coverage

      - name: Build app
        run: npm run build

      - name: Run Cypress E2E tests
        uses: cypress-io/github-action@v6
        with:
          start: npm run dev
          wait-on: http://localhost:5173
          browser: chrome

  docker-build-and-push:
    runs-on: ubuntu-latest
    needs: lint-test-build-e2e
    if: github.ref == 'refs/heads/main'   # ← tu sprawdzamy gałąź

    steps:
      - uses: actions/checkout@v4

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t myapp:$IMAGE_TAG .
          docker tag myapp:$IMAGE_TAG wiktoriakalisz/myapp:$IMAGE_TAG

      - name: Push Docker image to DockerHub
        run: docker push wiktoriakalisz/myapp:$IMAGE_TAG

      - name: List local images
        run: docker images
